<ion-view view-title="L Quiz">
	<ion-content class="padding">
	<div ng-show="showLiFEQuiz" class="ng-hide">
		<div class="item item-body">
	        <div>
	          {{question.content}}
	        </div>
	    </div>

	    <ion-radio ng-repeat="answer in answers" ng-value="answer.score" ng-model="data.answers" ng-change="next(answer)" name="answers">
	    	{{answer.content}}
	    </ion-radio> 
	</div>

	<div ng-show="showLQuiz" class="ng-hide">
		<div class="list card">
	      <div class="item item-body" ng-class="{toggle: survey.id == toggledId}" ng-repeat="survey in surveys">
	        <div>
	            <a class="button icon icon-right ion-chevron-right" ui-sref="tabs.living-quiz({survey: survey.id})">{{survey.name}}</a>
	        </div>
	      </div>
	    </div>
	</div>
	</ion-content>
</ion-view>