<ion-view view-title="Resources">
	<ion-content class="padding">
		<div ng-show="showRecommend" class="ng-hide">
			<h2>Recommend Resources</h2>
		</div>

	    <div id="all_resources" class="list card" ng-repeat="resource in resources | orderBy:'user_favourites[0]'">
	    	<div class="item item-button-right">
	    		<p><a class="item" href={{resource.content}}>{{resource.content}}</a></p>
	        	<p>{{resource.description}}</p>

	       		<button id="{{resource.id}}" class="button" ng-class="{true:'button-assertive', false:'button-energized'}[resource.user_favourites[0].resource_id == resource.id]" ng-click="favouritedResource({{resource.id}})">
	        		<i id="{{resource.id}}icon" class="icon" ng-class="{true:'ion-ios-heart', false:'ion-ios-star'}[resource.user_favourites[0].resource_id == resource.id]"></i>
	        	</button>
	    	</div>
	    </div>
	</ion-content>
</ion-view>