<ion-view view-title="Resources">
	<ion-content class="padding">
	    <div id="all_resources" class="list card" ng-repeat="resource in resources">
	    	<div class="item item-button-right">
	    		<p><a class="item" href={{resource.content}}>{{resource.content}}</a></p>
	        	<p>{{resource.description}}</p>

	       		<button class="button" ng-class="{true:'button-assertive', false:'button-energized'}[resource.favourite]" ng-click="favouritedResource(resource)">
	        		<i class="icon" ng-class="{true:'ion-ios-heart', false:'ion-ios-star'}[resource.favourite]"></i>
	        	</button>
	    	</div>
	    </div>
	</ion-content>
</ion-view>
