<!-- partial-signup.html -->
<ion-view view-title="SignUP">
  <ion-content class="padding">
    <form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
      <div class="form-group">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
        </label>
      </div>

      <div class="form-group">
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
        </label>
      </div>

      <div class="form-group">
        <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
        </label>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block button-calm">Sign Up</button>
      </div>
    </form>

    <p>Already have an account? <a ui-sref="tabs.signin">Sign In!</a></p>
  </ion-content>
</ion-view>