<!-- partial-login.html -->
<ion-view view-title="Sign In">
	<ion-content class="padding">
		<form ng-submit="signin()" class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="data.email" required />
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="data.password" required />
      </label>
      <button class="button button-block button-calm" type="submit">Sign In</button>
      <button class="button button-block button-calm" ui-sref="tabs.signup">Sign Up</button>
    </form>
  </ion-content>
</ion-view>
