<ion-view view-title="Survey">
	<ion-content class="padding">
		<div ng-if="!end">
			<div>
				<div class="card">
          <div class="item item-text-wrap">
            {{question.content}}
          </div>
        </div>
			<ion-radio ng-repeat="answer in answers" ng-value="answer.score" ng-model="data.answers" ng-change="	next(answer)" name="answers">
	    		{{answer.content}}
	    	</ion-radio>
			</div>
		</div>

		<div id="survey_end" ng-if="end">
			<div id="show_resources" ng-if="showResources" ng-controller="SurveyEndPropertiesCtrl">
				<div ng-bind-html="surveyend.content"></div>
				<div ng-repeat="resource in showResources">
					<p ng-repeat="r in resource">
						<a class="item"  ng-href="http://{{r.content}}">{{r.content}}</a>
						{{r.description}}
					</p>
				</div>
			</div>

			<div if="no_resources" ng-if="!showResources">
				<p>No resources to show.</p>
			</div>
		</div>
	</ion-content>
</ion-view>
