<ion-view view-title="LiFE Surveys">
	<ion-content class="padding">
    <div class="list card category"
        ng-repeat="category in categories | filter:{title: '!Introduction'}"
        ui-sref="tabs.survey({id: category.id})">
      <span class="category-letter">{{ category.title.charAt(0) }}</span>
      <span class="category-name">{{ category.title.substring(1, category.title.length) }}</span>
      <div class="category-symbol"><span class="fa fa-angle-right"></span></div>
    </div>
	</ion-content>
</ion-view>
