<ion-view>
  <ion-side-menus>
    <ion-side-menu-content class="main">
      <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="right">
          <button class="button button-icon icon ion-navicon" menu-toggle="right">
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>


      <ion-view>
            <ion-nav-view class="all-content" name="home-tab"></ion-nav-view>
      </ion-view>
    </ion-side-menu-content>
    <!-- Side Bar for the application -->
    <!-- The Side Bar can be opened via the button in the header, or by swiping the screen -->
    <ion-side-menu side="right">
      <ion-header-bar>
        <h1 class="title">LiFE</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item ui-sref="tabs.home" menu-toggle="right" class="item item-icon-left">
            <i class="icon ion-home"></i>
            Home
          </ion-item>
          <ion-item ui-sref="tabs.landing" menu-toggle="right" class="item item-icon-left">
            <i class="icon ion-information-circled"></i>
            About
          </ion-item>
          <ion-item ui-sref="tabs.survey-index" menu-toggle="right" class="item item-icon-left">
            <i class="icon ion-android-checkbox-outline"></i>
            Surveys
          </ion-item>
          <ion-item ui-sref="tabs.resource-index" menu-toggle="right" class="item item-icon-left">
            <i class="icon ion-clipboard"></i>
            Resources
          </ion-item>
          <span ng-if="!user.signedIn">
            <ion-item ui-sref="tabs.signin" menu-toggle="right" class="item item-icon-left">
              <i class="icon ion-power"></i>
              Sign In
            </ion-item>
            <ion-item ui-sref="tabs.signup" menu-toggle="right" class="item item-icon-left">
              <i class="icon ion-power"></i>
              Sign Up
            </ion-item>
          </span>
          <span ng-if="user.signedIn">
            <ion-item ng-click="signout()" menu-toggle="right" class="item item-icon-left">
              <i class="icon ion-power"></i>
              Sign Out
            </ion-item>
          </span>

        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
